# Credenciales y secretos
.env

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Respaldos de datos locales
data_backup/

# Entornos virtuales
venv/
.venv/
env/

# Archivos del sistema
.DS_Store
Thumbs.db
